
.data {
    margin-top: 100px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

thead th {
    background-color: #55608f;
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}