<div class="data">
    <table id="table">

        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Seat number</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let ticket of myTickets">
                <td>{{ticket.movie.title}}</td>
                <td>{{pipe.transform(ticket.movie.date, 'MMM d y, h:mm a')}}</td>
                <td>{{ticket.seat_number}}</td>
                <td>{{ticket.price}}</td>
            </tr>
        </tbody>
    </table>
</div>