<div class="navbar" [ngSwitch]="authService.getUserStatus()">
    <div *ngSwitchCase="null">
            <a [routerLink]="['home']">Home</a>
            <a [routerLink]="['login']">Login</a>
            <a [routerLink]="['registration']">Registration</a>
    </div>

    <div *ngSwitchCase="'admin'">
        <a [routerLink]="['/home']">Home</a>
        <a (click)="logout()"  [routerLink]="['login']">Logout</a>
    </div>
    <div *ngSwitchCase="'user'">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['myTickets']">My tickets</a>
        <a (click)="logout()"  [routerLink]="['login']">Logout</a>
    </div>
</div>
<router-outlet></router-outlet>
 